<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Pets</title>
</head>
<body>
<nav class="navbar navbar-expand-sm navbar-dark bg-dark mb-3">
    <div class="container">
        <a class="navbar-brand" href="#">Customer</a>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link active"  href="/pet">Customers</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/movies">Movies</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Placeholder</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Placeholder</a>
            </li>
        </ul>
    </div>
</nav>


<div class="container">

    <form method="post">
        <div class="row">
            <div class="col-lg-6">
                <div class="input-group">

                    <input type="text" class="form-control" placeholder="Person Nummer" name="personnummer">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Namn" name="namn">

                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-lg-6">
                <div class="input-group">

                    <input type="text" class="form-control" placeholder="Adress" name="adress">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Zip Code" name="zipcode">

                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-lg-6">
                <div class="input-group">

                    <input type="text" class="form-control" placeholder="City" name="city">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Country" name="country">

                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-lg-offset-3 col-lg-6">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Phone" name="phone">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Email" name="email">
                </div>
            </div>
            <div class="col-lg-offset-3 col-lg-6">
                <div class="input-group">
                    <button class="btn" type="submit">Add customer</button>
                </div>
            </div>
        </div>
    </form>

    <div>
        <table class="table mt-5 table-bordered table-hover">
            <thead class="thead-inverse">
            <tr>
                <th>Product ID</th>
                <th>Namn</th>
                <th>Format</th>
                <th>Release date</th>
                <th>Description</th>
                <th>Country</th>
                <th>Phone</th>
                <th>Email</th>
                <th>Add Movie</th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="customer : ${customer}">
                <tr  th:object="${customer}">
                    <td th:text="*{personnummer}">Person Nummer</td>
                    <td th:text="*{namn}">Name </td>
                    <td th:text="*{adress}">Adress</td>
                    <td th:text="*{zipcode}">Zip code</td>
                    <td th:text="*{city}">City</td>
                    <td th:text="*{country}">Country</td>
                    <td th:text="*{phone}">Phone</td>
                    <td th:text="*{email}">Email</td>
                    <td><button class="btn btn-outline-primary" data-toggle="modal" th:data-target="'#updateinfo' + *{personnummer}">Update Info</button>

                        <form action="#" th:action="@{/updateinfo}" method="post">
                            <div class="modal"  th:draggable th:id="'updateinfo' + *{personnummer}">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Update Info</h5>
                                            <button class="btn btn-outline-primary" type="submit">Add</button>
                                            <button class="close" data-dismiss="modal">&times;</button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="form-group">
                                                <label>Name</label>
                                                <input type="text" name="namn" placeholder="Namn" class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <label>Adress</label>
                                                <input type="text" name="adress" placeholder="Adress" class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <label>Zipcode</label>
                                                <input type="text" name="zipcode" placeholder="Zip code" class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <label>City</label>
                                                <input type="text" name="city" placeholder="City" class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <label>Country</label>
                                                <input type="text" name="country" placeholder="Country" class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <label>Phone</label>
                                                <input type="text" name="phone" placeholder="Phone" class="form-control">
                                            </div>
                                            <div class="form-group">
                                            <label>Email</label>
                                            <input type="text" name="email" placeholder="Email" class="form-control">
                                        </div>
                                            <div class="form-group">
                                                <input type="hidden" th:value="*{personnummer}" name="personnummer" class="form-control">
                                            </div>
                                          <!--  <div>
                                                <h1 th:text="*{personnummer}"></h1>
                                            </div>-->
                                        </div>
                                        <div class="modal-footer">
                                            <!--<button class="btn btn-secondary" data-dismiss="modal">Close</button>-->
                                           <!-- <button class="btn btn-primary" type="submit">Add</button>-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </div>

    <nav>
        <ul class="pagination pagination-lg justify-content-center">
            <li class="page-item disabled"><a class="page-link" href="#">Pages</a></li>
            <li class="page-item"><a class="page-link" href="/pet">1</a></li>
            <li class="page-item"><a class="page-link" href="/pet?page=1">2</a></li>
            <li class="page-item"><a class="page-link" href="/pet?page=2">3</a></li>
        </ul>
    </nav>

</div>

<script>
    $("#updateinfo").draggable({
        handle: ".modal-header"
    });
</script>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>