<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Simple Sidebar - Start Bootstrap Template</title>

    <link href="../static/css/simple-sidebar.css" th:href="@{/css/simple-sidebar.css}" rel="stylesheet"/>
    <link href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}" rel="stylesheet"/>
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet"/>



</head>

<body>

    <div id="wrapper">
        <script src="../static/js/bootstrap.js" th:src="@{/js/bootstrap.js}"></script>
        <script src="../static/js/bootstrap.bundle.js" th:src="@{/js/bootstrap.bundle.js}"></script>
        <script src="../static/js/bootstrap.bundle.js" th:src="@{/js/jquery.js}"></script>
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        <span style="color: #59bbef">Borta</span>Kväll
                    </a>
                </li>
                <li>
                    <a href="/movies">Tillgängliga filmer</a>
                </li>
                <li>
                    <a href="#">Utlånade filmer</a>
                </li>
                <li>
                    <a href="#">Registrera lån</a>
                </li>
                <li>
                    <a href="#">Lämna tillbaka</a>
                </li>
                <li>
                    <a href="/customer">Registrera kund</a>
                </li>
                <li>
                    <a href="#">Registrera film</a>
                </li>
                <li>
                    <a href="#">Kontakt</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid col-md-6 col-sm-6 col-lg-6 introTBox" style="float: left">
                <h1><span style="color: red">Borta</span>Kväll</h1>
                <p>This template has a responsive menu toggling system. The menu will appear collapsed on smaller screens, and will appear non-collapsed on larger screens. When toggled using the button below, the menu will appear/disappear. On small screens, the page content will be pushed off canvas.</p>
                <p>Make sure to keep all page content within the <code>#page-content-wrapper</code>.</p>
                <a class="btn btn-secondary" id="menu-toggle">Alternativ</a>
            </div>


        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- Bootstrap core JavaScript -->


    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>

</body>

</html>
